*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

#calculator-container {    
    display: flex;
    flex-direction: column;
    text-align: center;
}


.calculator-button {
    background-color: #4d4d4d;
    color: #FF9900;
    box-shadow: inset 0 0 8px rgb(129, 129, 129);
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    margin: 3px;
}

#button0{
    width: 106px;
    margin: 0 6px 0 6px;
}

.calculator-button.operator {
    background-color: #FF9900;
    box-shadow: inset 0 0 8px #ffcd81;
    color: white;
}

#calculator-input {
    background-color: #4d4d4d;
    width: 230px;
    box-shadow: inset 0 0 8px rgb(129, 129, 129);
    color: #d6d5d5;
    font-size: 20px;
    text-align: right;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
    display: block;
}

#calculator-output{
    margin: 10px auto 0;
    width: 230px;
    border-radius: 10px;
    background-color: #000;
    color: #969696;
    box-shadow: inset 0 0 15px rgb(105, 105, 105);
}