*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    box-shadow: 0 0 10px rgb(129, 129, 129);
    border-radius: 25px;
    transform: scale(1.9);
}


.calculator-button {
    background-color: #4d4d4d;
    color: #FF9900;
    box-shadow: inset 0 0 3px rgb(129, 129, 129);
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    margin: 3px;
    transition: all 0.3s;
}

.calculator-button:hover{
    box-shadow: inset 0 0 10px rgb(129, 129, 129);
}

.calculator-button:active{
    transform: scale(1.2);
    background-color: #000;
}

#button0{
    width: 106px;
    margin: 0 6px 10px 6px;
}

.operator {
    background-color: #FF9900;
    box-shadow: inset 0 0 8px #ffcd81;
    color: white;
}

.operator:hover{
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

#calculator-input {
    width: 230px;
    display: block;
    background-color: #4d4d4d;    
    box-shadow: inset 0 0 8px rgb(129, 129, 129);
    color: #d6d5d5;
    font-size: 1.6em;
    text-align: right;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;    
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#calculator-output{
    margin: 10px auto 0;
    width: 230px;
    height: 25px;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: #000;
    color: #969696;
    box-shadow: inset 0 0 15px rgb(49, 49, 49);
}

.bg-gray{
    background-color: #969696;
    color: white;
}

.bg-gray:hover{
    box-shadow: inset 0 0 10px rgb(204, 204, 204);
}